<header class="site-header">
    <h2 class="logo">Ella Rises</h2>

    <nav class="navbar">
        <a href="/">Home</a>

        <% if (user) { %>
            <a href="/dashboard">Dashboard</a>
            <a href="/events">Events</a>

            <% if (user.isManager) { %>
                <a href="/participants">Participants</a>
                <% } else { %>
                    <a href="/profile">Profile</a>
                    <% } %>

                        <a href="/logout">Logout</a>
                        <% } else { %>
                            <a href="/login">Login</a>
                            <% } %>
    </nav>
</header>