<header class="site-header">
    <h2 class="logo">Ella Rises</h2>

    <nav class="navbar">
        <a href="/">Home</a>

        <% if (user) { %>
            <a href="/dashboard">Dashboard</a>

            <% if (user.role === "manager") { %>
                <a href="/participants">Participants</a>
                <% } %>

                    <a href="/logout">Logout</a>
                    <% } else { %>
                        <a href="/login">Login</a>
                        <% } %>
    </nav>
</header>