<header class="site-header">
    <h2 class="logo">Ella Rises</h2>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
    </nav>
</header>
