<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %> | Ella Rises</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Header Include -->
    <%- include("partials/header") %>

    <main>
        <%- body %>
    </main>

    <!-- Footer Include -->
    <%- include("partials/footer") %>
</body>
</html>

