<h2 class="mb-4 text-center">Welcome to the Management Dashboard!</h2>

<!-- Screensaver Section Box -->
<div class="screensaver-box mt-4">
    <div class="particles-wrapper">
        <div class="particles floating-bubbles"></div>
    </div>
</div>


<script>
$(document).ready(function () {

    function createParticles() {
        if ($(".floating-bubbles").length > 0) {
            let gen = new particleGenerator(60, 40, 8, 100, 100, 12);
            gen.generate();
        }
    }

    createParticles();
});

// Generator
class particleGenerator {
    constructor(count, maxSize, minSize, leftRange, bottomRange, maxDelay) {
        this.count = count;
        this.maxSize = maxSize;
        this.minSize = minSize;
        this.leftRange = leftRange;
        this.bottomRange = bottomRange;
        this.maxDelay = maxDelay;
    }

    generate() {
        for (let i = 0; i < this.count; i++) {
            let size = Math.floor(Math.random() * this.maxSize) + this.minSize;
            let bottom = Math.floor(Math.random() * this.bottomRange);
            let left = Math.floor(Math.random() * this.leftRange);
            let delay = Math.random() * this.maxDelay;

            $(".particles-wrapper .particles").append(`
                <span class="particle"
                      style="
                          width:${size}px;
                          height:${size}px;
                          bottom:${bottom}px;
                          left:${left}%;
                          animation-delay:${delay}s;
                      ">
                </span>
            `);
        }
    }
}
</script>
