<div class="admin-subnav">
    <a href="/participants">Participants</a>
    <a href="/users">Users</a>
    <a href="/donations">Donations</a>
    <a href="/events">Events</a>
    <a href="/milestones">User Milestones</a>
    <a href="/dashboard">Overview</a>
    <a href="/create_user">Create User</a>
</div>

<div class="admin-content">
    <h2>Welcome to Admin Management</h2>
    <p>Select a section above to begin.</p>
</div>


<div class="admin-content">
    <% if (typeof contentFile !== 'undefined') { %>
        <%- include(contentFile, contentData) %>
    <% } %>
</div>