<main class="page-content">
    <div class="screensaver-box">
        <div class="particles floating-bubbles"></div>
    </div>

    <div class="dashboard-content">
        <h2>Welcome to the Dashboard!</h2>
    </div>
</main>


