/* ===== Variables (replace manually) ===== */
body {
    background: #e2f0e4; /* $backgroundC */
    font-family: "Poppins", sans-serif; /* $font */
}

/* ===== Global Layout ===== */
* {
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid #57A773;
}

html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Media Queries */
@media (max-width: 860px) and (min-width: 625px) {
    .wrapper {
        width: 95%;
    }

    .teatime_wrapper {
        width: 100%;
    }

    .teatime_container .tea_item {
        width: 160px;
        height: 160px;
    }

    .teatime_container .tea_item i.fa {
        font-size: 2.5em;
    }

    .teatime_container .tea_item .tea_name {
        font-size: 1.5em;
    }

    .teatime_container .tea_item .tea_time {
        font-size: 1.05em;
    }
}

@media (max-width: 624px) {
    .wrapper {
        width: 95%;
    }

    .teatime_wrapper {
        width: 100%;
        margin: 1rem auto 0 auto;
    }

    .teatime_container .tea_item {
        width: 125px;
        height: 125px;
        margin: 0.75rem;
    }

    .teatime_container .tea_item i.fa {
        font-size: 1.75em;
    }

    .teatime_container .tea_item .tea_name {
        font-size: 1.25em;
    }

    .teatime_container .tea_item .tea_time {
        font-size: 1em;
    }

    .navigation h2 {
        font-size: 1.5em;
    }
}

/* ===== Header Styles ===== */
.navigation {
    width: 100%;
    height: auto;
    margin-top: 1.25rem;
    display: flex;
    align-items: baseline;
}

.navigation h2 {
    margin: 0;
    font-size: 2em;
    flex: 1;
    color: #489665;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.navigation .social-icon {
    color: darkgray;
    text-decoration: none;
    text-align: center;
    width: 2rem;
    height: auto;
    margin: 0 0.5rem;
}

.navigation .social-icon i.fa {
    font-size: 1.75em;
}

/* ===== Tea Timer Styles ===== */
.teatime_wrapper {
    position: relative;
    width: 90%;
    margin: 1.5rem auto;
    overflow: hidden;
}

.teatime_container {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: transform 1800ms ease;
}

.teatime_container .tea_item {
    margin: 1rem;
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fdfffd;
}

.teatime_container .tea_item i.fa {
    font-size: 3em;
    color: #527d59;
}

.teatime_container .tea_item .tea_name {
    font-size: 1.75em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #222; /* darken(#555,25%) approximation */
}

.teatime_container .tea_item .tea_time {
    font-size: 1.15em;
    color: #555;
}

.tea-bl i.fa { color: #474747; }
.tea-gr i.fa { color: #99CC99; }
.tea-wh i.fa { color: #b6bcbe; }
.tea-ol i.fa { color: #CBAC88; }
.tea-ro i.fa { color: #F0544F; }
.tea-hr i.fa { color: #D0CE7C; }

.teatime_timer {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 2000ms ease;
}

.teatime_timer .close {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px;
    font-size: 1.5em;
    line-height: 0;
    cursor: pointer;
    background: #f55555;
}

.teatime_timer .timer {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background: #fdfffd;
    text-align: center;
}

.teatime_timer .timer h2 {
    padding-top: 2rem;
}

.teatime_timer .timer p {
    font-size: 4em;
}
